@import '@/styles/variables.scss';

.button {
    border: none;
    background: none;
    cursor: pointer;

    &.sm {
        padding: 8px 12px;
        font-size: 1rem;
    }
    
    &.md {
        padding: 10px 16px;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &.xl {
        padding: 12px 20px;
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    &.primary {
        background: $colorPrimary;
        color: $colorTextSecondary;

        &:hover {
            opacity: .7;
        }
    }
}
