.calendar {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 2.5rem;
    }

    &__events {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        margin-top: 15px;
        margin-bottom: 40px;

        &-item {
            padding: 4px 16px;
            border-radius: 12px;
            transition: .2s;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }

    &__monthes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
