$colorText: #FFFAFB;
$colorTextSecondary: #131315;
$colorFieldText: #FFFAFB;
$colorFieldBackground: #1a1a1a;
$colorPrimary: #FF4E6B;
$colorLink: #FFFAFB;
$colorLinkHighlight: #FF4E6B;
$colorBackground: #1a1a1a;
